[user]
    name = yuri1969
    email = 1969yuri1969@gmail.com
[core]
    editor = vim
    longpaths = true
    autocrlf = false
[diff]
    tool = vimdiff
    # Highlight whitespace errors
    wsErrorHighlight = all
[difftool]
    prompt = false
[color "diff"]
    whitespace = red reverse
[checkout]
    # Use all logical cores for checkout-related operations
    workers = 0
[init]
    defaultBranch = master
[alias]
    # Based on: https://github.com/perlpunk/slides.tpcig2018/blob/dev/git-tips-tricks/git-tips-tricks.md
    ll = log '--pretty=format:%C(yellow)%h %C(cyan)%ad%Cred%d %Creset%s%Cgreen [%an]' --decorate --graph '--date=format:%Y-%m-%d %H:%M'
    wd = diff --color-words
