/* vim:ft=css */
configuration {
    modi: "drun,ssh,run";
    font: "DejaVuSansMono NF 10";
    location: 1;
    yoffset: 20;
    terminal: "i3-sensible-terminal";
    ssh-client: "ssh";
    ssh-command: "{terminal} -e {ssh-client} {host}";
    run-command: "{cmd}";
    run-shell-command: "{terminal} -e {cmd}";
    threads: 0;
}

@theme "custom-solarized"
